@using MadBidFetcher.Model
@model MadBidFetcher.Model.AuctionModel

@{
    ViewBag.Title = Model.Auction.Title;
    var auctionTime = Model.Auction.Status == AuctionStatus.Closed ? 0 : Math.Ceiling(Model.Auction.BidTimeOut / 2.0) * 1000;
}
<link href="@Url.Content("~/Content/Auction.css")" rel="stylesheet" />

@if (auctionTime > 0)
{
    <script type="text/javascript">
        window.setInterval(function() { window.location.reload(); }, @auctionTime);
    </script>
}
<div>
    @Html.ActionLink("Back", "Index")
</div>
<table class="auctionDetails">
    <tr>
        <td class="auctionCompact">@Html.Partial("ShowCompact", Model.Auction)</td>
        <td>
            @foreach (var p in Model.Auction.ActivePlayers)
            {
                <div class="players">
                    <p>Last @p.Key bids (@p.Value.Count)</p>
                    <table>
                        @foreach (var player in p.Value.OrderByDescending(b => b.Bids.Count).ThenByDescending(b => b.Bids.Max(b1 => b1.Value)))
                        {
                            <tr>
                                <td>
                                    <b>@player.Player.Name</b>
                                </td>
                                <td class="bids">
                                    @player.Bids.Count
                                </td>
                                <td class="bids">(@(string.Join(", ", player.Bids.OrderByDescending(b => b.Value).Take(5).Select(b => b.Value.ToString("C")).ToArray())))
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
            <div class="allPlayers">
                <table>
                    @foreach (var p in Model.Auction.Players.OrderByDescending(pl => pl.Value.Bids.Count))
                    {
                        var last = p.Value.Bids.LastOrDefault();
                        <tr>
                            <td>@p.Key</td>
                            <td>@p.Value.Bids.Count</td>
                            @if (last != null)
                            {
                                <td class="bids">@last.Value.ToString("C") (@last.Time)</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
</table>
