@model MadBidFetcher.Model.Auction

@{
    ViewBag.Title = "Auction Display";
    var first = true;
}
<div class="auction">
    <div class="content">
        <h5>@Html.ActionLink(string.IsNullOrEmpty(Model.Title) ? Model.Id.ToString() : Model.Title, "Show", new { id = Model.Id })</h5>
        <p class="prices"><a href="http://uk.madbid.com/show/auction/@Model.Id/hehe">@Model.Price.ToString("C") - @Model.RetailPrice.ToString("C") </a></p>
        @if (Model.Images != null)
        {
            <a href="@Url.Action("Show", new { id = Model.Id })">
                <img src="@Model.Images[0]"/>
            </a>
        }
        <p>
            @Model.Status @(Model.DateOpens.HasValue && Model.DateOpens > DateTime.Now ? Model.DateOpens.Value.ToString("dd MMM hh:mm") : string.Format("{0}-{1}", Model.StartTime, Model.EndTime))
        </p>
        <table width="100%">
            <tr>
                <td>Active players</td>
                <td>
                    @foreach (var p in Model.ActivePlayers)
                    {
                        if (first)
                        {
                            first = false;
                        <span><b>@p.Value.Count</b></span>
                        }
                        else
                        {
                        <span>(@p.Value.Count)</span>					
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>Bid time 
                </td>
                <td>
                    @Model.BidTimeOut
                </td>
            </tr>
            <tr>
                <td>Credit cost 
                </td>
                <td>
                    @Model.CreditCost
                </td>
            </tr>
            <tr>
                <td>Total players 
                </td>
                <td>
                    @Model.Players.Count
                </td>
            </tr>
            <tr>
                <td>Is Current user auction    
                </td>
                <td>
                    @Model.CurrentUserAuction
                </td>
            </tr>
        </table>
    </div>
</div>
